<h1>Oden Simulator</h1>
<h3>Where you can enjoy this Japanese wintertime delicacy -- anywhere, any season.</h3>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <ul>
            {{#each types}}
                <li>{{name}}</li>
            {{/each}}
            </ul>
        </div>
        
    </div>
</div>