body {
    background: url("../img/background.png");
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h1{
    font-family: 'Ceviche One', cursive;
    font-size: 3em;
}

h4{
    font-family: 'Ceviche One', cursive;
    font-size: 2em;
}

h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

h1, h5{
    text-align: center;
    margin: 10px;
}

li{
    font-size:1.25em;
    margin-bottom: 10px;
}

p{
    font-size: 1.125em;
}

.ingredient{
    text-decoration: none;
    color: #000;
}

.ingredient:hover{
    text-decoration: underline;
    color: #444;
    cursor: pointer;
}

#main-title{
    text-decoration: none;
    color: #000;
}

#main-title:hover{
    text-decoration: underline;
    color: #444;
    cursor: pointer;
}

.modalImg{
    max-width: 280px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.modal-header {
    background: url("../img/background.png");
}

.close{
    position: relative;
    top: 10px;
}

.btn{
    height: 32px;
    width: 32px;
}

#saveType{
    width: 160px;
}